* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#particles-js
{
   ;
   background-color: black;
}
h1{
   font-size: 17vw;
   color: #d83651;
   font-family: 'Montserrat', sans-serif;
   
}

.about__section {
    padding-top: 50px;
    margin: auto;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.93);
    border-radius: 20px;
    padding-bottom: 25px;
    margin-bottom: 150px;
}

.about__container {
    color: white;
    display: flex;
    padding-left: 50px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
}

.about__card {
    width: 100%;
    font-size: 90%;
    line-height: 150%;
}

.about__card h1 {
    font-family: 'Comfortaa', cursive;
    color: #d83651;
    padding-bottom: 30px;

    font-size: 500%;
}

.about__card p {
    font-family: sans-serif;
    font-size: 130%;
}

.about__card a {
    font-weight: 500;
    color: white;
}

#TentroText
{
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    text-align: center;
}

#TentroText a {
font-size: 9vw;
}

#menu {
  position: absolute;
}

.spacing {
   margin-left: 0.4em !important;
   margin-right: 0.4em !important;
}


#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
   width: 60px;
   height: 45px;
   position: absolute;
   margin: 50px 50px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   -webkit-transition: .5s ease-in-out;
   -moz-transition: .5s ease-in-out;
   -o-transition: .5s ease-in-out;
   transition: .5s ease-in-out;
   cursor: pointer;
 }
 
  #nav-icon4 span {
   display: block;
   position: absolute;
   height: 9px;
   width: 100%;
   background: #d83651;
   border-radius: 9px;
   opacity: 1;
   left: 0;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   -webkit-transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -o-transition: .25s ease-in-out;
   transition: .25s ease-in-out;
 }


#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

 
@media only screen and (min-width: 1000px){
  h1{
   font-size: 9.79em;
   }
   
  #TentroText a{
    font-size: 4.2em;
  }
  
}

